<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog detail</title>
</head>
<body style="text-align: center">
<a href="/blog/">Back</a>
<h2>{{ blog.title }}</h2>
<img src="{{ blog.image.url }}" alt="">
<p>{{ blog.description }}</p>

<ul style="">
    {% for i in comments %}
    <li>
        <h3>
            {{ i.text }}
        </h3>
        <p>
            {{i.date}}
        </p>
    </li>
    {% endfor %}
</ul>

<form action="/blog/comment/{{blog.id}}/" method="post">
    {% csrf_token %}
    <label>
        <input name="text" type="text">
    </label>
    <input type="submit" value="Твой ненужный комментарий">
</form>
</body>
</html>